---
name: Build
# Run this workflow every time a new commit pushed to your repository
on: [pull_request]

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  build:
    # Name the Job
    name: build
    # Set the type of machine to run on
    runs-on: ubuntu-20.04

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Go environment
        uses: actions/setup-go@v2.1.3
      - name: build
        run: GOBUILD="linux-amd64 linux-arm64 windows-amd64 darwin-amd64" make -j build
      - name: artifacts Linux amd64
        uses: actions/upload-artifact@v2
        with:
          name: hashi-helper-linux-amd64
          path: build/hashi-helper-linux-amd64
      - name: artifacts Linux arm64
        uses: actions/upload-artifact@v2
        with:
          name: hashi-helper-linux-arm64
          path: build/hashi-helper-linux-arm64
      - name: artifacts MacOS
        uses: actions/upload-artifact@v2
        with:
          name: hashi-helper-darwin-amd64
          path: build/hashi-helper-darwin-amd64
      - name: artifacts Windows
        uses: actions/upload-artifact@v2
        with:
          name: hashi-helper-windows-amd64
          path: build/hashi-helper-windows-amd64
